body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  width: $calc-width;
  gap: $gap;

  &__day {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $day-size;
    height: $day-size;
    background-color: $--main-background;
    border: 1px solid black;
    transition:
      transform 0.5s,
      background-color 0.5s;

    &::before {
      content: '';
      font-size: 30px;
      color: inherit;
      line-height: 1;
    }

    &:hover {
      background-color: $background-hover;
      transform: translateY(-20px);
      z-index: 1;
      cursor: pointer;
    }
  }
}

@for $i from 1 through 31 {
  .calendar__day:nth-child(#{$i})::before {
    content: '#{$i}';
  }
}

@for $i from 28 through 31 {
  .calendar--month-length-#{$i} .calendar__day:nth-child(n + #{$i + 1}) {
    display: none;
  }
}

@each $day, $index in $day-in-weak {
  .calendar--start-day-#{$day} .calendar__day:first-child {
    margin-left: calc(($day-size + $gap) * #{$index});
  }
}
